* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background: linear-gradient(to right) 0.7 100%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0 100%), url("pic10.jpg");
  background-size: cover;
}

#search {
  display: flex;
  justify-content: center;
  padding: 1rem 0 1rem 0;
}

h1 {
  font-size: 2rem;
  align-self: center;
}

h1:before {
  content: "🍺";
}

input {
  height: 2rem;
  margin-right: 0.5rem;
}

#submitButton {
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: #fff;
  background-color: #0085b6;
  border-color: #0085b6;
  border-radius: 3px;
}

#submitButton:hover {
  transform: scale(1.2);
  transition: 500ms ease-in;
  transform-origin: bottom;
  background-color: #03759e;
  border: #03759e;
}

#searchResult {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  line-height: 2;
  color: black;
  font-size: 1.2rem;
}

.listItemAsP:hover {
  transform: scale(1.2);
  transition: 500ms ease-in;
  transform-origin: bottom;
}

.listItemAsP:hover a {
  color: #0085b6;
}

.hidden {
  display: none;
}

.pagination-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding: 1rem 0;
  justify-content: center;
  width: 100%;
  height: 40%;
}

#navButtonsDiv {
  display: flex;
}

.pagination-number,
.pagination-button {
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.2rem;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  background-color: #fff;
}

.pagination-number.active {
  color: #fff;
  background-color: #0085b6;
}

#navigationToOtherPagesDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  bottom: 0;
}

#advancedSearchButton,
#backToIndexPage {
  height: 4rem;
  padding: 1rem 0 1rem 0;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

#advancedSearchButton:hover,
#backToIndexPage:hover {
  background-color: grey;
  color: white;
  border: none;
}

@media only screen and (max-width: 280px) {
  form {
    display: flex;
    flex-direction: column;
  }
}
